.header-container {
  position: absolute;
  width: 390px;
  height: 844px;
  background: url(../images/section-photo/headersmall@1x.jpg);
}

.wrapper {
  width: 358px;
  height: 796px;
  top: 24px;
  left: 16px;
  border-radius: 20px;
  position: absolute;
  background: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(2px);
}
.header-wrap {
  @media screen and (max-width: 768px) {
    width: 318px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 41px;
  }
}

.logo__img {
  width: 120px;
  height: 52px;
  @media screen and (min-width: $desktop) {
    width: 144px;
    height: 94px;
  }
}
.header-menu {
  /* justify-content: center;
  display: flex; */
}
.header-menu__list {
  /*  height: 347px;
  display: flex;
  flex-direction:column;
  position: absolute;
  align-items: center;
  place-content: center space-around;
  top: 248px;
 */
}
.header-menu__item {
}
.header-menu__link {
  /* font-family: Fira Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: $primary-text-color;
  cursor: pointer; */
}
.menu-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  /* body.lock { //щоб не прокручувався контент пыд выдкритим меню
    overflow: hidden;
  } */

  .menu-burger {
    display: block;
    position: relative;
    width: 36px;
    height: 16px;
  }
  .menu-burger::after,
  .menu-burger::before {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0;
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 7px;
    transition: all 0.3s ease 0;
  }
  .header-menu {
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: transform 0.7s;
    transform: translateY(-100%);
    overflow: auto;
  }
  .header-menu.active {
    transform: translateY(0);
    z-index: 2;
  }

  .menu-burger.active::before {
    transform: rotate(45deg);
    top: 7px;
  }
  .menu-burger.active::after {
    transform: rotate(-45deg);
    bottom: 7px;
  }
  .menu-burger.active span {
    transform: scale(0);
  }
  .header-menu__list {
    height: 347px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    place-content: center space-around;
    top: 248px;
  }
  .header-menu__link {
    font-family: Fira Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: $primary-text-color;
    cursor: pointer;
    &:hover {
      color: $defolt-color;
    }
  }
}

.header-title {
  font-family: Fira Sans;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  color: $defolt-color;
  margin-bottom: 16px;
}

.header-title__small {
  font-family: Fira Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: $primary-text-color;
  text-align: center;
  display: flex;
}
.header-btn {
  width: 265px;
  height: 50px;
  background-color: $defolt-color;
  color: #ffffff;
  font-family: Fira Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 20px;
  margin-top: 209px;
}
.menu-mobile {
  height: 376px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 16px;
  top: 344px;
  cursor: pointer;

  &.hidden {
    visibility: hidden;
  }
}
