.header-container {
  position: absolute;
  width: 390px;
  height: 844px;
  background: url(../images/section-photo/headersmall@1x.jpg);
}

.wrapper {
  width: 358px;
  height: 796px;
  top: 24px;
  left: 16px;
  border-radius: 20px;
  position: absolute;
  background: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(2px);
}

.logo__img {
  position: absolute;
  width: 120px;
  height: 52px;
 // @media screen and(min-width: $desktop){
    width: 144px;
    height: 94px;
  }
//}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
  font-family: Fira Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: $primary-text-color;
}
.menu-burger {
}
.menu-title {
  font-family: Fira Sans;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  color: $defolt-color;
  position: absolute;
  left: calc(50% - 260px/2 + 1px);
  top:320px;
  margin-bottom:16px ;
}

.menu-title__small{
  font-family: Fira Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: $primary-text-color;
  text-align: center;
  position: absolute;
  top:379px;
}
.menu-btn {
  position: absolute;
  width: 265px;
  height: 50px;
  background-color: $defolt-color;
  color: #FFFFFF;
  font-family: Fira Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 20px;
  left: calc(50% - 179px/2);
  top: calc(50% - 19px/2 - 0.5px);
  position: absolute;
  bottom: 100px;
}
