.form-container{
  width: 100%;
  height: 604px;
  position: absolute;
  left: 0px;
  top: 158px;

  @media screen and (min-width: $desktop) {
    width: 1062px;
    height: 545px;
    left: calc(50% - 1062px/2);
   // top: calc(50% - 545px/2 + 73px);
   
  }
} 
.form-send{
  visibility: hidden;
}
.form-send.hide {
  visibility: hidden;
}

.form-send.show {
  visibility: visible;
} 

.form-wrapper{
  position: absolute;
  left: 0px;
  background: #FFFFFF;
  //border: 1px solid #2B4570;
  
  @media screen and (min-width: $desktop) {
    //left: calc(50% - 1062px/2);
    top: calc(50% - 545px/2 + 73px);
  }
}
.form{
  padding: 0 15px  0 15px; 
  @media screen and (min-width: $desktop) {
    padding: 0 234px  0 234px; 
  }
}
  
.form-title{
  width: auto;
  height: 29px;
  margin-top: 64px;
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: $primary-text-color;
  margin: 64px auto 56px;

  @media screen and (min-width: $desktop) {
    margin: 68px auto 36px;
  }
}
.input,
textarea {
  width: 357px;
  border-radius: 20px;
  border: 1px solid #2B4570;
  box-sizing: border-box;
  margin-bottom: 8px;
  cursor: pointer;
  @media screen and (min-width: $desktop){
    width: 287px;
  }
}
textarea {
  height: 165px;
  padding: 16px 0 0 16px;
  
  @media screen and (min-width: $desktop){
   height: 133px;
   width: 594px;
   
  }
}

.input {
  height: 44px;
  padding-left: 16px;

  @media screen and (min-width: $desktop){
    height: 52px;
    margin-bottom: 24px;
    &:nth-child(2n + 1){
    margin-right: 10px;
  }
  }
}

::placeholder{
  position: absolute;
  width: auto;
  height: auto;
  left: calc(50% - 34px/2 - 145.5px);
  top: 14px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  
  @media screen and (min-width: $desktop) {
    left: calc(50% - 134px/2 - 214px);
    top: 16px;
 }
}
@media screen and (min-width: $desktop) {
     input::placeholder {
      left: calc(50% - 81px/2 - 87px);
      top: 14px;
      
  }
}


.form-icon-close{
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  
  &:hover {
    color: $defolt-color;
  }
  @media screen and (min-width: $desktop) {
    right: 32px;
  top: 32px;
 }
}

.send-btn{
  width: 265px;
  height: 50px;
  background-color: $defolt-color;
  color: #ffffff;
  font-family: Fira Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 50px 24px 50px;
  
  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $defolt-color;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 160px 39px 160px;
  }
}
