.services-section {
  padding-top: 120px;
}

.services-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop) {
    padding-right: 109px;
    padding-left: 217px;
  }
}

.services-title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: auto;
  margin-bottom: 68px;
  margin-left: auto;

  @media screen and (min-width: $desktop) {
    gap: 24px;
  }
}

.services-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(29 / 24);

  @media screen and (min-width: $desktop) {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
  }
}

.services-animation {
  position: relative;
  width: 50px;
  height: 1px;
  border-bottom: 1px solid $curent-text-color;

  @media screen and (min-width: $desktop) {
    width: 89px;
  }
}

.reverse {
  transform: rotate(180deg);
}

.services-title-wrapper:hover .services-animation__circul {
  animation-play-state: running;
}

.services-animation__circul {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $defolt-color;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-7%, -50%);

  @media screen and (min-width: $desktop) {
    width: 25px;
    height: 25px;
  }
}

.active {
  animation-name: services-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  /* або коротко
    animation: blue-circle, 2s, linear, 1, 1s;*/
}

@media screen and (max-width: 1439.98px) {
  @keyframes services-circle {
    0% {
      left: 0px;
    }
    50% {
      background-color: #fbca16;
    }
    100% {
      left: 40px;
      background-color: #fbca16;
    }
  }
}

@media screen and (min-width: $desktop) {
  @keyframes services-circle {
    0% {
      left: 0px;
    }
    50% {
      background-color: #fbca16;
    }
    100% {
      left: 70px;
      background-color: #fbca16;
    }
  }
}

.services-wrapper {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (max-width: 1439.98px) {
    display: none;
  }
}

.service-wrapper {
  position: relative;
}

.summary {
  width: 978px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(29 / 24);
  cursor: pointer;
}

.numbering {
  margin-right: 48px;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

details summary:after {
  content: 'Дивитись';
  font-size: 16px;
  line-height: calc(19 / 16);
  color: $defolt-color;
}

details[open] summary:after {
  content: 'Згорнути';
}

.service-inner {
  margin-bottom: 16px;
  padding-right: 109px;
  padding-left: 85px;
}

.service-description {
  max-width: 760px;
  font-weight: 300;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: $disable-color;
}

.service-img {
  border-radius: 20px;
}

.service-underline {
  width: 870px;
  height: 1px;
  position: absolute;
  bottom: 0px;
  background-color: #c5c3c6;
}

details[open] + .service-underline {
  bottom: -4px;
}

.mobile-services-wrapper {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.service-inner-mobile {
  width: 358px;
  height: 95px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

@each $item in 1, 2, 3, 4, 5, 6, 7, 8 {
  .inner-#{$item} {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../images/section-photo/services/services#{$item}@1x.jpg');
  }

  .inner-#{$item}:hover {
    background-image: url('../images/section-photo/services/services#{$item}@1x.jpg');
  }
}

.services-btn {
  width: 328px;
  height: 55px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  outline: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  z-index: 3;
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.modal {
    transform: scale(1.25);
  }
}

.modal {
  width: 50%;
  min-width: 390px;
  max-height: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  padding: 92px 16px;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  overflow-y: auto;
}

.modal-btn {
  position: absolute;
  top: 48px;
  right: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.services-modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.services-modal-description {
  font-weight: 300;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: $curent-text-color;
}

.services-modal-img {
  width: 45vh;
  height: auto;
}

.overflow {
  overflow: hidden;
}
