//Шрифти назва Fira Sans, Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&family=Noto+Sans:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

$defolt-color: #2b4570;
$primary-text-color: #24282b;
$curent-text-color: #131200;
$background-color: #f5f5f5;
$hover-color: #fbca16;
$disable-color: #888888;

//Брейк поінт
$mobileMax: 767.98px;
$desktop: 1920px;