/* .preference-container{
  min-width: 358px;
  min-height: 486px;
  @media screen and (min-width: 768px) {
    min-width: 1280px;
    min-height: 556px;
  }
} */
.preference-wraper{
  align-items: center;
  gap: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;

  @media screen and (min-width: $desktop) {
    justify-content: left;
    margin-bottom: 68px;
    padding: 0 109px;
  }
}
.preference__content{
  min-width: 358px;
  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 0 109px;
  }
}
.preference-title{ 
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: $curent-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    font-weight: 400;
    text-align: start;
  }
  }

.preference-text {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color:$disable-color;
  width: 358px;
  
  @media screen and (max-width: $desktop) {
    font-size: 20px;
    font-weight: 400;
    width: 411px;

  }
}
.preference__photo {  
  background-size: contain;
  min-width: 358px;
  min-height: 158px;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 21px;
  
  @media screen and (min-width: $desktop) {
    padding: 0 24 0 0;
    min-width: 628px;
    min-height: 455px;
  }
}
.preference__detailes{
  min-width: 358px;

  @media screen and (min-width: 768px) {
    min-width: 411px;
  }
}
 
details {
  position: relative;
  border-bottom: none;

  @media screen and (min-width: 768px) {
    border-bottom: 1px solid #C5C3C6;
    //padding-bottom: 14px;
  }
} 

details[open] > details {
  border-bottom: 1px solid #C5C3C6;
  width: 358px;
  padding-bottom: 12px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 0px;
    margin-right: 24px;
    padding-bottom: 17px;
    
  }
}
summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 15px;
  color: $curent-text-color;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    padding-bottom: 28px;
    padding-top: 14px;
  }
}

summary::after {
  display: inline-block;
  width: 16px;
  height: 7px;
  transition: transform 0.2s;
  will-change: transform;
  position: absolut;
  right: 4;
  background-image: url(../images/svg/arowdoun.svg);
    @media screen and (min-width: 768px) {
     // top: 25px;
    }
  
  
}

details[open] > summary::after {
  transform: rotate(180deg);
  content: " ";
} 

details summary:after {
  position: absolute;
  content: " ";
  color: #2b4570;
  font-size: 16px;
  line-height: 1.2;
  top: 7px;
    @media screen and (min-width: 768px) {
      top: 27px;
   
  }
}

//Animation//

.preference-animation {
  position: relative;
  width: 50px;
  height: 1px;
  border-bottom: 1px solid $curent-text-color;

  @media screen and (min-width: $desktop) {
    width: 89px;
    &.desktop {
      display: none;
}
  }
}

.reverse {
  transform: rotate(180deg);
}

 .preference-wrapper:hover 
 .preference-animation__circul {
  animation-play-state: running;
} 
.preference-animation__circul {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $defolt-color;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-7%, -50%);
 
  @media screen and (min-width: $desktop) {
    width: 25px;
    height: 25px;
  }
}

.preference__active-circul{
  animation: preference-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1439px) {
  @keyframes preference-circle {
    0% {
      left: 0px;
    }
    50% {
      background-color: #fbca16;
    }
    100% {
      left: 40px;
      background-color: #fbca16;
    }
  }
}

@media screen and (min-width: $desktop) {
  @keyframes preference-circle {
    0% {
      left: 0px;
    }
    50% {
      background-color: #fbca16;
    }
    100% {
      left: 70px;
      background-color: #fbca16;
    }
  }
}
