<section class="about" id="about">
  <div class="container">
    <div class="about_wrapper">
      <div class="title_wrapper">
        <div class="element-animation">
          <!-- <hr class="line" /> -->
          <span class="circul"></span>
        </div>
        <h2 class="about_title">ПРО НАС</h2>
        <div class="element-animation rotate">
          <!-- <hr class="line" /> -->
          <span class="circul"></span>
        </div>
      </div>
      <p class="text">
        Компанію «ПБО Укрспецпроект» було засновано в 2013 р, коли в Україні
        почав підійматись аграрний бізнес. Спільно зі своїми партнерами компанія
        постійно розвиває одночасно більше 6 проектів в сфері промисловості та
        агропромислового комплексу, що знаходяться на різних стадіях
        реалізації.​
      </p>
      <p class="text">
        Сучасне управління, колектив професіоналів, налагоджені відносини з
        провідними інститутами та галузевими фахівцями, потужна проектна база,
        використання інноваційних технологій і, звичайно, багатий досвід
        реалізованих проектів дали можливість компанії зарекомендувати себе
        надійним партнером та стати однією з найбільш перспективних компаній
        України.​ Співпраця з нами розпочинається з розробки концепції, з
        урахуванням сучасних світових технологій та новітніх технічних рішень, і
        закінчується авторським наглядом за будівництвом та введенням в
        експлуатацію
      </p>
      <div class="info">
        <div class="info_wrapper">
          <p class="number">150+</p>
          <p class="info_text">Зданих об'єктів</p>
        </div>
        <div class="info_wrapper">
          <p class="number">100+</p>
          <p class="info_text">Задоволених клієнтів</p>
        </div>
      </div>
    </div>
  </div>
</section>
