<section class="clients" id="clients">
   <div class="clients-container container">
    <div class="ant-carousel">
      <h2 class="ant-title">Наші замовники</h2>
      <div class="ant-carousel-hider clients-swiper">

      <ul class="ant-carousel-list swiper-wrapper">
          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://agro-forte.com/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow"></a>
            <img src="./images/svg/logo1.svg"  class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://rud.ua/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow"></a>
            <img src="./images/svg/logo2.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://www.kernel.ua/ua/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow"></a>
            <img src="./images/svg/logo3.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://kness.energy/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow"></a>
            <img src="./images/svg/logo4.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://www.konkord.biz/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow">
            <img src="./images/svg/logo5.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://kustoagro.com/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow">
            <img src="./images/svg/logo6.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://medilux.ua/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow">
            <img src="./images/svg/logo7.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="https://organic-d.com.ua/" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow">
            <img src="./images/svg/logo8.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>

          <li class="ant-carousel-element swiper-slide">
            <a class="ant" href="" aria-label="logo company" target="_blank" rel="noopener noreferrer nofollow ">
            <img src="./images/svg/logo9.svg" class="ant-carousel-logo" alt="PBO logotype"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>



</section>