<section class="gallery-section" id="gallery">
  <div class="container projects-container">
    <div class="projects-title-wrapper">
      <div class="projects-animation pa-reverse">
        <span class="projects-animation__circle"></span>
      </div>
      <h2 class="projects-title">Наші&nbsp;проєкти</h2>
      <div class="projects-animation">
        <span class="projects-animation__circle"></span>
      </div>
    </div>
    <div class="projects-carousel" data-carousel>
      <ul class="projects-list" data-slides>
        <li class="projects-slide" data-active>
          <img
            srcset="
              ./images/section-photo/projects/project1-1@1x.jpg 1x,
              ./images/section-photo/projects/project1-1@2x.jpg 2x
            "
            src="./images/section-photo/projects/project1-1@1x.jpg"
            alt="Реконструкція будівлі магазину"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project1-2@1x.jpg 1x,
              ./images/section-photo/projects/project1-2@2x.jpg 2x
            "
            src="./images/section-photo/projects/project1-2@1x.jpg"
            alt="Реконструкція будівлі магазину"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project1-3@1x.jpg 1x,
              ./images/section-photo/projects/project1-3@2x.jpg 2x
            "
            src="./images/section-photo/projects/project1-3@1x.jpg"
            alt="Реконструкція будівлі магазину"
            class="project-img project-img__desktop"
            loading="lazy"
          />
          <div class="project-descr__wrapper">
            <p class="project-descr">
              Реконструкція будівлі магазину під магазин автозапчастин з
              сервісом. вул. Немирівське шосе, 32/1 с. Писарівка, Вінницького
              району Вінницької області
            </p>
            <a
              href="https://www.google.com/maps?q=Немирівське+шосе,+32/1,+Писарівка,+Вінницька+область,+Україна"
              target="_blank"
              class="location-link"
            >
              <svg class="location-icon" width="28" height="28">
                <use
                  href="./images/svg/symbol-defs.svg#icon-skrepka-icon"
                ></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="projects-slide">
          <img
            srcset="
              ./images/section-photo/projects/project2-1@1x.jpg 1x,
              ./images/section-photo/projects/project2-1@2x.jpg 2x
            "
            src="./images/section-photo/projects/project2-1@1x.jpg"
            alt="Будівництво молочно-товарного комплексу"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project2-2@1x.jpg 1x,
              ./images/section-photo/projects/project2-2@2x.jpg 2x
            "
            src="./images/section-photo/projects/project2-2@1x.jpg"
            alt="Будівництво молочно-товарного комплексу"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project2-3@1x.jpg 1x,
              ./images/section-photo/projects/project2-3@2x.jpg 2x
            "
            src="./images/section-photo/projects/project2-3@1x.jpg"
            alt="Будівництво молочно-товарного комплексу"
            class="project-img project-img__desktop"
            loading="lazy"
          />
          <div class="project-descr__wrapper">
            <p class="project-descr">
              Будівництво молочно-товарного комплексу на 1200 голів ВРХ по вул.
              В. Бойка, буд. 14, с. Липне, Любарського р-ну, Житомирської
              області
            </p>
            <a
              href="https://www.google.com/maps?q=вулиця+Бойка,+14,+Липне,+Житомирська+область,+Україна"
              target="_blank"
              class="location-link"
            >
              <svg class="location-icon" width="28" height="28">
                <use
                  href="./images/svg/symbol-defs.svg#icon-skrepka-icon"
                ></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="projects-slide">
          <img
            srcset="
              ./images/section-photo/projects/project3-1@1x.jpg 1x,
              ./images/section-photo/projects/project3-1@2x.jpg 2x
            "
            src="./images/section-photo/projects/project3-1@1x.jpg"
            alt="Будівництво зерносушарки"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project3-2@1x.jpg 1x,
              ./images/section-photo/projects/project3-2@2x.jpg 2x
            "
            src="./images/section-photo/projects/project3-2@1x.jpg"
            alt="Будівництво зерносушарки"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project3-3@1x.jpg 1x,
              ./images/section-photo/projects/project3-3@2x.jpg 2x
            "
            src="./images/section-photo/projects/project3-3@1x.jpg"
            alt="Будівництво зерносушарки"
            class="project-img project-img__desktop"
            loading="lazy"
          />
          <div class="project-descr__wrapper">
            <p class="project-descr">
              Нове будівництво зерносушарки на території господарського двору по
              вул. Комарова, 39 в смт.Сутиски, Тиврівський р-н, Вінницька обл.
            </p>
            <a
              href="https://www.google.com/maps?q=вулиця+Комарова,+39,+Сутиски,+Вінницька+область,+Україна"
              target="_blank"
              class="location-link"
            >
              <svg class="location-icon" width="28" height="28">
                <use
                  href="./images/svg/symbol-defs.svg#icon-skrepka-icon"
                ></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="projects-slide">
          <img
            srcset="
              ./images/section-photo/projects/project4-1@1x.jpg 1x,
              ./images/section-photo/projects/project4-1@2x.jpg 2x
            "
            src="./images/section-photo/projects/project4-1@1x.jpg"
            alt="Будівництво овочесховища"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project4-2@1x.jpg 1x,
              ./images/section-photo/projects/project4-2@2x.jpg 2x
            "
            src="./images/section-photo/projects/project4-2@1x.jpg"
            alt="Будівництво овочесховища"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project4-3@1x.jpg 1x,
              ./images/section-photo/projects/project4-3@2x.jpg 2x
            "
            src="./images/section-photo/projects/project4-3@1x.jpg"
            alt="Будівництво овочесховища"
            class="project-img project-img__desktop"
            loading="lazy"
          />
          <div class="project-descr__wrapper">
            <p class="project-descr">
              Будівництво овочесховища по вул. Жовтнева, 118 в смт. Сутиски,
              Тиврівський р-н, Вінницька обл.
            </p>
            <a
              href="https://www.google.com/maps?q=вулиця+Жовтнева,+118,+Сутиски,+Вінницька+область,+Україна"
              target="_blank"
              class="location-link"
            >
              <svg class="location-icon" width="28" height="28">
                <use
                  href="./images/svg/symbol-defs.svg#icon-skrepka-icon"
                ></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="projects-slide">
          <img
            srcset="
              ./images/section-photo/projects/project5-1@1x.jpg 1x,
              ./images/section-photo/projects/project5-1@2x.jpg 2x
            "
            src="./images/section-photo/projects/project5-1@1x.jpg"
            alt="Будівництво складу зберігання насіння, мінеральних добрив та засобів захисту рослин"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project5-2@1x.jpg 1x,
              ./images/section-photo/projects/project5-2@2x.jpg 2x
            "
            src="./images/section-photo/projects/project5-2@1x.jpg"
            alt="Будівництво складу зберігання насіння, мінеральних добрив та засобів захисту рослин"
            class="project-img"
            loading="lazy"
          />
          <img
            srcset="
              ./images/section-photo/projects/project5-3@1x.jpg 1x,
              ./images/section-photo/projects/project5-3@2x.jpg 2x
            "
            src="./images/section-photo/projects/project5-3@1x.jpg"
            alt="Будівництво складу зберігання насіння, мінеральних добрив та засобів захисту рослин"
            class="project-img project-img__desktop"
            loading="lazy"
          />
          <div class="project-descr__wrapper">
            <p class="project-descr">
              Нове будівництво складу зберігання насіння, мінеральних добрив та
              засобів захисту рослин поза межами населених пунктів
              Старокостянтинівської територіальної громади Хмельницького району
              Хмельницької області
            </p>
            <a
              href="https://www.google.com/maps?q=Старокостянтинів,+Хмельницька+область,+Україна"
              target="_blank"
              class="location-link"
            >
              <svg class="location-icon" width="28" height="28">
                <use
                  href="./images/svg/symbol-defs.svg#icon-skrepka-icon"
                ></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <button class="projects-button-prev" data-carousel-button="prev">
        <svg class="btn-icon" width="23" height="31">
          <use
            href="./images/svg/symbol-defs.svg#icon-left"
          ></use>
        </svg>
      </button>
      <button class="projects-button-next" data-carousel-button="next">
        <svg class="btn-icon" width="23" height="31">
          <use
            href="./images/svg/symbol-defs.svg#icon-right"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
