<section class="header">
  <div class="header-container container">
    <div class="wrapper">

      <a href="#" class="logo">
        <img class="logo__img" src="./images/svg/logo-big.svg" alt="PBO logotype"/>
      </a>
      <div class="menu-burger">
        <span></span>
      </div>

      <div class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#about" class="menu__link">Про нас</a>
          </li>
          <li class="menu__item">
            <a href="#services" class="menu__link">Послуги</a>
          </li>
          <li class="menu__item">
            <a href="#gallery" class="menu__link">Наші Проєкти</a>
          </li>
          <li class="menu__item">
            <a href="#footer" class="menu__link">Контакти</a>
          </li>
        </ul>
      </div>

        <h1 class="menu-title"> Укрспецпроект</h1>
        <h2 class="menu-title__small"> Проектно-будівельне об’єднання </h2>
        <button class="menu-btn">Отримати консультацію</button>
    
    </div>
  </div>
</section>
