<section class="header">
  <div class="header-container container">
    <div class="wrapper">

      <div class="header-wrap">
        <a href="#" class="logo">
          <img class="logo__img" src="./images/svg/logo-big.svg" alt="PBO logotype"/>
        </a>
        <div class="menu-burger">
          <span></span>
      </div>

      </div>
      <div class="header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item">
            <a href="#about" class="header-menu__link">Про нас</a>
          </li>
          <li class="header-menu__item">
            <a href="#services" class="header-menu__link">Спектр Послуг</a>
          </li>
          <li class="header-menu__item header-menu__none">
            <a href="#steps" class="header-menu__link">Як ми працюємо?</a>
          </li>
          <li class="header-menu__item">
            <a href="#gallery" class="header-menu__link">Наші Проeкти</a>
          </li>
          <li class="header-menu__item header-menu__none">
            <a href="#clients" class="header-menu__link">Наші замовники</a>
          </li>
          <li class="header-menu__item header-menu__none">
            <a href="#why-we" class="header-menu__link">Чому ми ?</a>
          </li>
          <li class="header-menu__item">
            <a href="#footer" class="header-menu__link">Контакти</a>
          </li>
        </ul>
      </div>

      <div class="menu-mobile">
        <h1 class="header-title"> Укрспецпроект</h1>
        <h2 class="header-title__small"> Проектно-будівельне об’єднання </h2>
        <button id="btn" class="header-btn">Отримати консультацію</button>
    </div>
    </div>
  </div>
</section>
