<section class="services-section" id="services">
  <div class="container services-container">
    <div class="services-title-wrapper">
      <div class="services-animation reverse">
        <span class="services-animation__circle"></span>
      </div>
      <h2 class="services-title">Спектр&nbsp;Послуг</h2>
      <div class="services-animation">
        <span class="services-animation__circle"></span>
      </div>
    </div>
    <ul class="services-wrapper">
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">01.</span>
              <span>Проєктування об’єктів агропромислового сектору</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Проектування споруд сільськогосподарського призначення проводиться
              у суворій відповідності всім нормам протипожежної безпеки,
              антикорозійного захисту та діючими санітарними нормами і правилам
              з охорони навколишнього середовища.
              <br />
              <br />
              Вибір оптимальної технології та технічного обладнання дозволяє
              досягати заданих замовником у рамках технічного завдання високих
              техніко-економічних показників та низьких експлуатаційних витрат.
              Детальне перспективне планування дозволяє нам заздалегідь виявити
              і усунути майбутні проблеми ще на стадії проектування.
            </p>
          </div>
          <img
          srcset="./images/section-photo/services/services1@1x.jpg 1x, ./images/section-photo/services/services1@2x.jpg 2x"
          src="./images/section-photo/services/services1@1x.jpg"
          alt="Проєктування об’єктів агропромислового сектору"
          class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">02.</span>
              <span>Проектування, реконструкція, модернізація елеваторів​</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Один з основних напрямків діяльної компанії є проектування об’єктів тваринницького сектору. Основними напрямками проектування являються тваринницькі комлекси (МТФ – молочно-товарні ферми, свинокомплекси, відгодівельні ферми, пташники). Для досягнення високої ефективності в створенні проектів високопродуктивних тваринницьких комплексів, налагоджена плідна співпраця з провідними технологами та топовими виробниками обладнання (DeLaval, Afimilk, GEA тощо).
              <br>
              <br>
              Вибір оптимальної технології виробництва молока та м'яса ВРХ, тваринницького та технічного обладнання, а також конструктивної схеми будівель ферм чи комплексів дозволяє досягати заданих замовником у рамках технічного завдання високих техніко-економічних показників та низьких експлуатаційних витрат.
            </p>
          </div>
          <img
            srcset="./images/section-photo/services/services2@1x.jpg 1x, ./images/section-photo/services/services2@2x.jpg 2x"
            src="./images/section-photo/services/services2@1x.jpg"
            alt="Проектування, реконструкція, модернізація елеваторів​"
            class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">03.</span>
              <span>Проектування сільськогосподарських будівель та споруд​​</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Якісно спроектовані елеватори - це основа для успішного будівництва і запуску будь-якого сучасного зерносховища. Розробка технологічної схеми елеватора передбачає використання сучасних рішень і технологій, високоефективне обладнання вітчизняних і закордонних компаній. Компанія має потужний та багаторічний досвід проектування елеваторів різної потужності та надає повний комплекс робіт зі створення повного пакету проектної документації для їх будівництва.
              <br/>
              <br/>
              Вибір оптимальної технології та технічного обладнання зернокомплексів дозволяє досягати заданих замовником у рамках технічного завдання високих техніко-економічних показників та низьких експлуатаційних витрат.
            </p>
          </div>
          <img
            srcset="./images/section-photo/services/services3@1x.jpg 1x, ./images/section-photo/services/services3@2x.jpg 2x"
            src="./images/section-photo/services/services3@1x.jpg"
            alt="Проектування сільськогосподарських будівель та споруд​​"
            class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">04.</span>
              <span>Проектування ангарів, складів з легких металоконструкцій​​​</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Основним конструктивом для створення ангарів є швидкомонтовані ангари, що створюються з полегшених несучих металоконструкцій. Будівлі побудовані за допомогою арочної технології, є одним з вигідних варіантів будівництва власних приміщень для господарств, що спеціалізуються на виробництві м'яса, птиці, овочевих або зернових культур.
              <br>
              <br>
              Вибір оптимальної технології та технічного обладнання дозволяє досягати заданих замовником у рамках технічного завдання високих техніко-економічних показників та низьких експлуатаційних витрат. Детальне перспективне планування дозволяє нам заздалегідь виявити і усунути майбутні проблеми ще на стадії проектування
            </p>
          </div>
          <img
            srcset="./images/section-photo/services/services4@1x.jpg 1x, ./images/section-photo/services/services4@2x.jpg 2x"
            src="./images/section-photo/services/services4@1x.jpg"
            alt="Проектування ангарів, складів з легких металоконструкцій​​​"
            class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">05.</span>
              <span>Проектування та будівництво овочесховищ​</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Один з потужних та перспективних напрямків діяльності компанії є робота у напрямку проектування овочесховищ. Багаторічний досвід наших фахівців дозволяє надавати комплексний підхід з проектування овоче- та фруктосховищПлануючи будівництво овочесховища важливо завчасно врахувати велику кількість факторів, які концептуально важливі при проектуванні споруди, виборі обладнання та конструкцій, підрядних та будівельних організацій. Адже наслідки упущення деталей ще на етапі проектування можуть обійтися дуже дорого при експлуатації або реконструкції сховища.
              <br>
              <br>
              Як показує практика, запуск навіть самих сучасних високотехнологічних та автоматизованих сховищ, не завжди допомагає сільгоспвиробникам. Недотримання правил зберігання призводить до втрат продукції. Але якщо спеціаліст відповідальний за зберігання, чітко розуміє, що він зберігає, як це правильно робити, при цьому суворо дотримується температурних режимів, показників вологості, контролює вентиляцію, проблем не виникне, і втрати врожаю будуть мінімальними.
            </p>
          </div>
          <img
            srcset="./images/section-photo/services/services5@1x.jpg 1x, ./images/section-photo/services/services5@2x.jpg 2x"
            src="./images/section-photo/services/services5@1x.jpg"
            alt="Проектування та будівництво овочесховищ​"
            class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">06.</span>
              <span>Проектування промислових будівель та споруд​​</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Для досягнення високої ефективності в проектуванні об’єктів промисловості, високопродуктивних тваринницьких комплексів, налагоджена плідна співпраця з провідними технологами та топовими виробниками обладнання. Під кожен проект промислового комплексу залучається специфічний для галузі спеціаліст технолог, під патронатом якого проводиться проектування.
              <br>
              <br>
              Сучасний розвиток промисловості диктує особливості проектування. Маємо досвід співпраці, як з великими холдинговими компаніями, іноземними інвесторами так і з невеликими виробництвами. Підхід індивідуальний та з урахуванням корпоративної етики.
            </p>
          </div>
          <img
            srcset="./images/section-photo/services/services6@1x.jpg 1x, ./images/section-photo/services/services6@2x.jpg 2x"
            src="./images/section-photo/services/services6@1x.jpg"
            alt="Проектування промислових будівель та споруд​​"
            class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">07.</span>
              <span>Технічне обстеження будівель​​</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Ще одним напрямком діяльної компанії є проектування баз хімізації та складів зберігання насіння, мінеральних добрив та засобів захисту рослин для сільськогосподарських виробників. Сучасний розвиток агропромислового сектору з ефективними урожаями неможливий без мінеральних добрив та засобів захисту рослин. Розміщення баз хімізації стикається з великими труднощами в частині дотримання екології та дотримання санітарних норм.
              <br>
              <br>
              Спеціалістами компанії відпрацьовано повний цикл проектування складів міндобрив та ЗЗР від вибору ділянки з проведенням реального аналізу ситуації, проведення процедури ДПТ та ОВД, до проходження експертизи та введення в експлуатацію.
            </p>
          </div>
          <img
          srcset="./images/section-photo/services/services7@1x.jpg 1x, ./images/section-photo/services/services7@2x.jpg 2x"
            src="./images/section-photo/services/services7@1x.jpg"
            alt="Технічне обстеження будівель​​"
            class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      <li class="service-wrapper">
        <details>
          <summary class="summary">
            <p>
              <span class="numbering">08.</span>
              <span>Авторський та технічний нагляд за будівництвом</span>​
            </p>
          </summary>
          <div class="service-inner">
            <p class="service-description">
              Комплексний підхід до робіт з благоустрою території приватного будинку не тільки надає привабливий вигляд ділянці, але і скорочує витрати на підтримку. Тільки довіривши прибудинкову територію професіоналам ви можете розраховувати на результат. У портфоліо нашого архітектурного бюро завдяки багаторічному досвіду є кейси з серйозних перетворень і змін ділянки, зонування, проведення необхідних комунікацій. Кожен квадратний метр землі буде оптимально використаний.
            </p>
          </div>
          <img
            srcset="./images/section-photo/services/services8@1x.jpg 1x, ./images/section-photo/services/services8@2x.jpg 2x"
            src="./images/section-photo/services/services8@1x.jpg"
            alt="Авторський та технічний нагляд за будівництвом"
            class="service-img"
            width="846"
            height="213"
            loading="lazy"
          />
        </details>
        <span class="service-underline"></span>
      </li>
      </div>
    </div>
    <ul class="mobile-services-wrapper">
      <li class="service-inner-mobile inner-1">
        <button data-id="1" class="services-btn">Проєктування об’єктів агропромислового сектору​</button>
      </li>
      <li class="service-inner-mobile inner-2">
        <button data-id="2" class="services-btn">Проектування, реконструкція, модернізація елеваторів​</button>
      </li>
      <li class="service-inner-mobile inner-3">
        <button data-id="3" class="services-btn">Проектування сільськогосподарських будівель та споруд​</button>
      </li>
      <li class="service-inner-mobile inner-4">
        <button data-id="4" class="services-btn">Проектування ангарів, складів з легких металоконструкцій​</button>
      </li>
      <li class="service-inner-mobile inner-5">
        <button data-id="5" class="services-btn">Проектування та будівництво овочесховищ​</button>
      </li>
      <li class="service-inner-mobile inner-6">
        <button data-id="6" class="services-btn">Проектування промислових будівель та споруд​</button>
      </li>
      <li class="service-inner-mobile inner-7">
        <button data-id="7" class="services-btn">Технічне обстеження будівель​</button>
      </li>
      <li class="service-inner-mobile inner-8">
        <button data-id="8" class="services-btn">Авторський та технічний нагляд за будівництвом​</button>
      </li>
    </ul>
  </div>
  <div class="backdrop backdrop--is-hidden" data-modal>
    <div class="modal">
      <button class="modal-btn" type="button" data-modal-close>
        <svg class="modal-icon" width="25" height="25">
          <use href="./images/svg/symbol-defs.svg#icon-x-icon"></use>
        </svg>
      </button>
      <div class="modal-wrapper">
      </div>
    </div>
  </div>
</section>
