<section class="steps" id="steps">
  <div class="container">
    <h2 class="steps_title">Як ми працюємо?</h2>
    <ul class="steps_list">
      <li class="step_item">
        <div class="steps_circle"></div>
        <div class="step_info">
          <h2 class="step_title">1 Крок</h2>
          <p class="step_description">Ви телефонуєте або залишаєте заявку</p>
        </div>
      </li>
      <li class="step_item">
        <div class="steps_circle"></div>
        <div class="step_info">
          <h2 class="step_title">2 Крок</h2>
          <p class="step_description">
            Ми розраховуємо вартість і обговорюємо деталі
          </p>
        </div>
      </li>
      <li class="step_item">
        <div class="steps_circle"></div>
        <div class="step_info">
          <h2 class="step_title">3 Крок</h2>
          <p class="step_description">Виїзд фахівця на об’єкт</p>
        </div>
      </li>
      <li class="step_item">
        <div class="steps_circle"></div>
        <div class="step_info">
          <h2 class="step_title">4 Крок</h2>
          <p class="step_description">Ухвалення договору</p>
        </div>
      </li>
      <li class="step_item">
        <div class="steps_circle"></div>
        <div class="step_info">
          <h2 class="step_title">5 Крок</h2>
          <p class="step_description">Ми виконуємо роботу та здаємо об’єкт</p>
        </div>
      </li>
      <div class="step_line"></div>
    </ul>
  </div>
</section>
