<section class="preference" id="why-we">
  <div class="preference-container container">
    <div class="preference-wraper">
      <div class="preference-animation reverse desktop">
        <span class="preference-animation__circul preference__active-circul"></span>
      </div>
      <h2 class="preference-title">Чому ми ?</h2>
      <div class="preference-animation">
        <span class="preference-animation__circul preference__active-circul"></span>
      </div>
    </div>

    <div class="preference__content">
      <picture class="preference__picture"> 

        <source srcset="./images/section-photo/preference/why390.jpg, ./images/section-photo/preference/why390@2x.jpg," 
        type="image/jpg" />

        <source srcset="./images/section-photo/preference/why1440.jpg, ./images/section-photo/preference/why1440@2x.jpg"
        media="(min-width: 1440px)" type="image/jpg" />

        <img src="./images/section-photo/preference/why390.jpg" class="preference__photo" alt="Why PBO" />

      </picture>

      <div class="preference__detailes">
        <details > 
          <summary>1. Досвід</summary>
          <p class="preference-text">Наша компанія працює на ринку з 2013 року, ми маємо досвід робити на різних об’єктах, наша команда має усіх необхідних спеціалістів для вирішення будь яких проблем.</p>
        </details>

        <details>
        <summary>2. Надійність</summary>
        <p class="preference-text">У нас повний комплекс робіт з проектування, включаючи архітектурний дизайн, проектування та будівництво,  екологічний моніторинг, управління проектом,  експертизу об'єктів, створення повного пакету проектної документації, необхідного для будівництва об'єкту. А про надійність, скажуть наші партнери.</p>
        </details>

        <details> 
          <summary>3. Сервіс</summary>
          <p class="preference-text">Роботи проводяться включаючи узгодження, починаючи з розробки концепції будівель від стратегічного планування і дизайну до будівництва, та закінчуючи авторським наглядом за будівництвом  і експлуатації готового об'єкта.</p>    
        </details>
        
        <details>
          <summary summary>4. Cпеціалісти</summary>
          <p class="preference-text">  Наші співробітники це професіонали з багаторічним досвідом які  працюють  у відповідності з останніми міжнародними технологіями, креативними дизайнерськими тенденціями і економічно вигідними технічними рішеннями.</p>  
        </details>

        <details>
          <summary>5. Швидкість</summary>
          <p class="preference-text">Наша швидкість залежить від вашої рішучості.</p>
        </details>
      </div>
    </div>

  </div>
</section>
